# Discord Bot Configuration
DISCORD_TOKEN=your_discord_bot_token_here

# Ollama Model Configuration
MODEL_NAME=qwen3.5:0.8b   # Default if not specified
# MODEL_NAME=gemma3:1b    # Alternative model

# Ollama generation parameters
LLM_TEMPERATURE = 1.0
LLM_NUM_PREDICT = 150
LLM_TOP_P = 1.00
LLM_TOP_K = 20
LLM_MIN_P = 0.0
LLM_PRESENCE_PENALTY = 2.0
LLM_REPEAT_PENALTY = 1.0
